@page "/counter"
@using RpgStats.Services.Abstractions
@using RpgStats.Dto
@using System.Globalization
@inject IPlatformService PlatformService;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (_platforms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
}


@code {
    private List<PlatformDetailDto>? _platforms;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetPlatformsWithGames();
    }

    private async Task GetPlatformsWithGames()
    {
        var platforms = await PlatformService.GetAllPlatformDetailDtosAsync();
        _platforms = platforms
            .OrderBy(p => p.Name)
            .ToList();
    }
}
